@model List<Project_6.Models.Attendance>


<h2 style="margin-left:35px">Employee Attendance</h2>
<td><a asp-action="ExportAttendanceAsPdf" asp-route-id="@Context.Session.GetInt32("ManagerId")" class="btn btn-primary" style="margin-left:35px">Download Attendence as PDF</a></td>


@if (Model != null && Model.Count > 0)
{
    <div class="container" style="margin-top:80px ;">
	<table class="table table-bordered table-striped table-responsive-stack">
        <thead>
            <tr>
                <th>Date</th>
                <th>Punch In</th>
                <th>Punch Out</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.Date</td>
                    <td>@record.PunchInTime</td>
                    <td>@record.PunchOutTime</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}
else
{
    <p>@ViewBag.Message</p>
}


